body {
    background-color: #171717;
    color: #EEB76B;
    font-family: 'Tajawal', sans-serif;
}

h1 {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

h3 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

h4 {
    color: #EEB76B;
    text-align: center;
    width: 100%;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: 20px;
}

h5 {
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    color: #ffffff;
    align-content: center;
}

ul,
li {
    list-style: none;
    display: inline;
    padding-inline-start: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 100px;
    width: 35%;
}

hr {
    width: 700px;
    margin: 20px 250px auto;
    border: 0px;
}


/*---Generali---*/

#ABOUT,
#SKILLS,
#CONTACTME {
    color: #EEB76B;
    float: right;
    margin-right: 35px;
    margin-top: 20px;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0px;
    padding: 5px;
    width: 700px;
    margin: auto;
    align-content: center;
}


/*---Header---*/

.logo {
    float: left;
    margin-left: 35px;
    margin-top: 20px;
    width: 60px;
    align-content: center;
}


/*---Home---*/

.diagram {
    width: 90%;
    align-content: center;
    margin: 0% 5%;
}


/*---About---*/

#about_me {
    display: flex;
}

.titleAbout {
    width: 40px;
    justify-content: flex-start;
}

.photoAbout {
    width: 180px;
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px;
}

.descriptionAbout {
    display: flex;
    justify-content: flex-start;
    text-align: justify;
}


/*---Skills---*/

#my_skills {
    display: flex;
    height: 180px;
    justify-content: flex-end;
}

.coding {
        display: block;
        margin: auto;
        padding: 8px 10px;
    }
    .adobe {
        display: block;
        margin: auto;
        padding: 8px 10px;
        margin-top: 21px;
        margin-bottom: 21px;
    }

.titleSkills {
    width: 40px;
}

.illustration {
    width: 160px;
    margin-right: 35px;
}


/*---Contats---*/

.contacts {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    padding-top: 20px;
    margin: auto;
}

#in {
    color: #FFFFFF;
}

#contact_me {
    font-size: 30px;
    font-weight: normal;
    padding: 15px 0px 0px;
    margin: auto;
}

#paper_plane {
    margin-left: 14px;
    margin-right: 20px;
    color: #FFFFFF;
}

#phil {
    font-weight: bold;
}


/*---PrivacyStart---*/

.footer {
    padding: 50px 0px;
    text-align: center;
    font-weight: lighter;
}


/*---PrivacyEnd---*/
