/*---Media Querie_Mobile---*/
/*---About and Skills elements that create problems with a 'max-width': 380px => attempt to solution---*/
@media only screen and (max-width: 380px) {
    .photoAbout {
        width: 140px;
    }
    .coding {
        margin-right: 20px;
    }
    .adobe {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 600px) {
    /*---General---*/
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 17px;
        padding: 0px 15px;
    }
    h5 {
        font-size: 15px;
    }
    hr {
        width: 100%;
        margin: 20px auto;
    }
    ul,
    li {
        margin-right: 20px;
        width: 20%;
    }
    .container {
        width: 100%;
        margin: auto;
        padding: 20px 15px;
    }
    /*---Header---*/
    #ABOUT,
    #SKILLS,
    #CONTACTME {
        margin-right: 20px;
        margin-top: 15px;
        font-size: 14px;
    }
    .logo {
        margin-left: 20px;
        margin-top: 15px;
        width: 40px;
    }
    /*---Home---*/
    .diagram {
        width: 80%;
        align-content: center;
        margin: 0% 10%;
    }
    /*---ABOUT---*/
    #about_me {
        display: flex;
        margin: auto;
    }
    .titleAbout {
        width: 25px;
        justify-content: flex-start;
        padding: 0px 2px;
    }
    .photoAbout {
        width: 150px;
        display: block;
        padding: 0px 10px;
    }
    #description {
        font-size: 17px;
        padding: 10px 15px 0px;
    }
    /*---Skills---*/
    #my_skills {
        display: flex;
        height: 180px;
        justify-content: flex-end;
        margin: auto;
    }
    .coding {
        display: block;
        margin: auto;
        padding: 5px 8px;
        margin: 0px 17px;
    }
    .adobe {
        display: block;
        margin: auto;
        padding: 5px 8px;
    }
    .titleSkills {
        width: 25px;
        justify-content: flex-end;
        padding: 0px 2px;
    }
    .illustration {
        width: 100px;
        margin-right: 15px;
        margin-left: 10px;
    }
    /*---Contacts---*/
    .contacts {
        font-size: 18px;
        padding: 20px 15px;
    }
    .contact_me {
        font-size: 30px;
        font-weight: normal;
        padding: 10px 5px 0px;
        margin: auto;
    }
    /*---Footer---*/
    .footer {
        font-size: 13px;
        padding: 20px 15px 7px;
    }
}
